# Prerequisites
*.d
Doxy*
# Object files
*.o
*.ko
*.obj
*.elf
*html
# Linker output
*.ilk
*.map
*.exp
*tags
# Precompiled Headers
*.gch
*.pch
*latex*
# Libraries
*.lib
*.a
*.la
*.lo
*.swp
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.DS_Store
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.swap
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
minilibx_opengl_20191021/
